<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SNN Training Visualizer</title>
    <!--<script src="https://code.jquery.com/jquery-3.3.1.js"></script>-->
    <script type="text/javascript" src="http://dc-js.github.io/dc.js/js/d3.js"></script>
    <!--<script type="text/javascript" src="./client.dist/socket.io.js"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>-->
</head>
<body>
<p id="status">Not connected to the training server</p>

    <svg id="chart"></svg>
<script type="text/javascript" src="render.js"></script>

</body>
</html>